* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #f8fafc;
    color: #172033;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --blue: #087ff5;
    --cyan: #09bfe9;
    --dark: #172033;
    --text: #344054;
    --muted: #718096;
    --border: #e4eaf1;
    --light: #f3f8fd;
    --white: #ffffff;
    --shadow: 0 10px 30px rgba(30, 80, 120, .08);
}


/* NAVBAR */

.navbar {
    height: 70px;
    padding: 0 7%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba(255,255,255,.95);

    border-bottom: 1px solid var(--border);

    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 21px;
    font-weight: bold;
}

.logo span span {
    color: var(--blue);
}

.logo-icon {
    color: var(--blue);
    font-size: 29px;
    position: relative;
}

.logo-icon b {
    position: absolute;
    left: 9px;
    top: 1px;

    color: var(--cyan);
    font-size: 17px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #4e5d71;
    font-size: 13px;
}

nav a:hover {
    color: var(--blue);
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.btn-primary,
.btn-login,
.btn-video {
    padding: 11px 18px;
    border-radius: 8px;

    font-size: 13px;

    display: inline-flex;
    align-items: center;
    gap: 9px;

    transition: .3s;
}

.btn-primary {
    background: linear-gradient(
        90deg,
        #087ff5,
        #08bce8
    );

    color: white;

    box-shadow: 0 8px 20px rgba(8,127,245,.18);
}

.btn-primary:hover {
    transform: translateY(-2px);
}

.btn-login {
    border: 1px solid #d7e0e9;
    background: white;
}

.btn-login:hover {
    border-color: var(--blue);
    color: var(--blue);
}


/* HERO */

.hero {
    min-height: 600px;

    padding: 80px 7%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 60px;

    background:
        radial-gradient(
            circle at 80% 40%,
            #e9f8ff,
            transparent 30%
        );
}

.hero-text {
    max-width: 600px;
}

.badge {
    display: inline-flex;
    gap: 7px;

    padding: 7px 12px;

    border-radius: 30px;

    color: var(--blue);

    background: #eaf5ff;

    font-size: 10px;
    font-weight: bold;

    margin-bottom: 18px;
}

.badge i {
    font-size: 6px;
    margin-top: 5px;
}

.hero h1 {
    font-size: clamp(42px, 5vw, 65px);

    line-height: 1.05;

    letter-spacing: -2px;
}

.hero h1 strong {
    color: var(--blue);
}

.hero-text > p {
    color: var(--muted);

    font-size: 16px;

    max-width: 520px;

    margin: 22px 0;
}

.hero-buttons {
    display: flex;
    gap: 12px;
}

.big {
    padding: 14px 22px;
}

.btn-video {
    border: 1px solid #bcd5ee;
    color: #344054;
    background: white;
}

.btn-video:hover {
    color: var(--blue);
    border-color: var(--blue);
}

.stats {
    display: flex;

    gap: 30px;

    margin-top: 45px;
}

.stats div {
    padding-right: 25px;

    border-right: 1px solid var(--border);
}

.stats div:last-child {
    border: 0;
}

.stats strong {
    display: block;

    color: var(--blue);

    font-size: 22px;
}

.stats span {
    color: var(--muted);

    font-size: 10px;
}


/* HERO IMAGEM */

.hero-image {
    width: 480px;
    height: 400px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-bg {
    width: 330px;
    height: 330px;

    border-radius: 50%;

    background:
        radial-gradient(
            circle,
            #eaf9ff,
            #f7fcff
        );

    border: 1px solid #d9f0fa;

    position: absolute;
}

.cloud {
    position: relative;

    width: 220px;
    height: 180px;

    color: var(--blue);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

.cloud > i {
    font-size: 170px;
}

.cloud > span {
    position: absolute;

    color: var(--cyan);

    font-size: 70px;
    font-weight: bold;

    top: 48px;
}

.node {
    width: 13px;
    height: 13px;

    position: absolute;

    background: white;

    border: 3px solid var(--blue);

    border-radius: 50%;

    z-index: 3;
}

.node1 {
    bottom: 18px;
    left: 35px;
}

.node2 {
    bottom: 5px;
    right: 42px;
}

.node3 {
    bottom: 35px;
    right: 5px;
}

.line {
    height: 3px;

    background: var(--blue);

    position: absolute;

    z-index: 1;

    transform-origin: left;
}

.line1 {
    width: 65px;

    bottom: 25px;
    left: 43px;

    transform: rotate(-10deg);
}

.line2 {
    width: 55px;

    bottom: 20px;
    right: 35px;

    transform: rotate(-35deg);
}


/* CARDS FLUTUANTES */

.info-card {
    position: absolute;

    display: flex;
    align-items: flex-start;

    gap: 12px;

    padding: 15px;

    width: 170px;

    background: white;

    border: 1px solid var(--border);

    border-radius: 10px;

    box-shadow: var(--shadow);

    z-index: 5;
}

.info-card i {
    color: var(--blue);

    font-size: 18px;
}

.info-card b {
    display: block;

    font-size: 12px;

    margin-bottom: 3px;
}

.info-card small {
    display: block;

    color: var(--muted);

    font-size: 9px;

    line-height: 1.4;
}

.secure {
    top: 35px;
    left: 15px;
}

.version {
    bottom: 85px;
    left: 0;
}

.team {
    right: 0;
    top: 150px;
}


/* WORKFLOW */

.workflow {
    background: white;

    padding: 55px 7%;

    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.section-title {
    text-align: center;

    margin-bottom: 35px;
}

.section-title h2 {
    font-size: 25px;
}

.steps {
    display: grid;

    grid-template-columns: repeat(5, 1fr);

    gap: 20px;
}

.step {
    text-align: center;
}

.step-icon {
    width: 55px;
    height: 55px;

    margin: auto auto 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    border: 1px solid #cfe5f7;

    color: var(--blue);

    background: #f5faff;

    font-size: 19px;
}

.step b {
    display: block;

    font-size: 12px;
}

.step p {
    color: var(--muted);

    font-size: 10px;

    margin-top: 5px;
}


/* BOXES */

.dashboard-section {
    padding: 15px 7% 50px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    gap: 15px;

    background: #f8fafc;
}

.box {
    background: white;

    border: 1px solid var(--border);

    border-radius: 12px;

    padding: 20px;

    box-shadow: var(--shadow);
}

.box-header {
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin-bottom: 18px;
}

.box-header h3 {
    font-size: 14px;
}

.box-header a {
    color: var(--blue);

    font-size: 10px;
}


/* RECURSOS */

.resource-grid {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 18px;
}

.resource {
    display: flex;

    gap: 10px;
}

.resource-icon {
    min-width: 38px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
}

.resource-icon.blue {
    background: #edf6ff;
    color: var(--blue);
}

.resource-icon.purple {
    background: #f2efff;
    color: #7356e8;
}

.resource-icon.green {
    background: #ecfff7;
    color: #00a879;
}

.resource-icon.cyan {
    background: #eafcff;
    color: #08aaca;
}

.resource b {
    font-size: 11px;
}

.resource p {
    color: var(--muted);

    font-size: 9px;

    margin-top: 4px;
}


/* PROJETOS */

.project {
    display: flex;

    align-items: center;

    gap: 10px;

    padding: 10px 0;

    border-bottom: 1px solid #edf0f4;
}

.project:last-child {
    border: 0;
}

.project-symbol {
    width: 35px;
    height: 35px;

    min-width: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
}

.orange {
    color: #e57c20;
    background: #fff3e8;
}

.blue-bg {
    color: var(--blue);
    background: #edf6ff;
}

.red {
    color: #ed5964;
    background: #fff0f1;
}

.project-info {
    flex: 1;
}

.project-info b {
    display: block;

    font-size: 11px;
}

.project-info small {
    color: var(--muted);

    display: block;

    font-size: 8px;
}

.project > strong {
    color: var(--blue);

    font-size: 10px;
}

.project label {
    padding: 4px 7px;

    border-radius: 20px;

    font-size: 8px;
}

.active {
    color: #00875b;
    background: #e9fff6;
}

.development {
    color: #a96c00;
    background: #fff7df;
}

.finished {
    color: #00875b;
    background: #e9fff6;
}

.progress {
    height: 3px;

    width: 100%;

    margin-top: 6px;

    background: #edf1f5;
}

.progress span {
    height: 100%;

    display: block;

    background: linear-gradient(
        90deg,
        var(--blue),
        var(--cyan)
    );
}


/* TIMELINE */

.timeline-item {
    position: relative;

    display: grid;

    grid-template-columns: 70px 1fr 60px;

    gap: 10px;

    padding: 10px 0 15px 18px;

    border-left: 1px solid #d9e5ef;
}

.timeline-item:last-child {
    border-left-color: transparent;
}

.dot {
    width: 9px;
    height: 9px;

    border-radius: 50%;

    background: #d7e4ef;

    border: 2px solid #8eb2ce;

    position: absolute;

    left: -5px;
    top: 14px;
}

.current .dot {
    background: var(--blue);

    border-color: var(--blue);

    box-shadow: 0 0 10px rgba(8,127,245,.4);
}

.timeline-item strong {
    color: var(--dark);

    font-size: 12px;
}

.timeline-item small {
    color: white;

    background: var(--blue);

    padding: 2px 5px;

    border-radius: 5px;

    font-size: 7px;

    margin-left: 5px;
}

.timeline-item p {
    color: var(--muted);

    font-size: 9px;
}

.timeline-item time {
    color: var(--muted);

    font-size: 8px;
}


/* CTA */

.cta {
    margin: 20px 7% 60px;

    padding: 28px 35px;

    background: #eef8ff;

    border: 1px solid #d7edf9;

    border-radius: 12px;

    display: flex;

    align-items: center;

    gap: 20px;
}

.cta-logo {
    color: var(--blue);

    font-size: 55px;

    position: relative;
}

.cta-logo span {
    position: absolute;

    font-size: 25px;

    left: 17px;
    top: 2px;

    color: var(--cyan);
}

.cta div:nth-child(2) {
    flex: 1;
}

.cta h2 {
    font-size: 20px;
}

.cta p {
    color: var(--muted);

    font-size: 11px;
}


/* FOOTER */

footer {
    padding: 35px 7% 20px;

    background: white;

    border-top: 1px solid var(--border);
}

.footer-logo {
    display: flex;

    align-items: center;

    gap: 8px;
}

.footer-logo strong {
    font-size: 18px;
}

.footer-logo span {
    color: var(--blue);
}

footer > p {
    color: var(--muted);

    font-size: 11px;

    margin: 10px 0 25px;
}

.footer-bottom {
    border-top: 1px solid var(--border);

    padding-top: 15px;

    display: flex;

    justify-content: space-between;

    color: #8a96a6;

    font-size: 9px;
}

.footer-bottom div {
    display: flex;
    gap: 20px;
}


/* RESPONSIVO */

@media(max-width: 1000px) {

    nav {
        display: none;
    }

    .hero {
        flex-direction: column;

        text-align: center;
    }

    .hero-text > p {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-buttons,
    .stats {
        justify-content: center;
    }

    .steps {
        grid-template-columns: repeat(2, 1fr);
    }

    .dashboard-section {
        grid-template-columns: 1fr;
    }
}


@media(max-width: 650px) {

    .navbar {
        padding: 0 20px;
    }

    .nav-buttons {
        display: none;
    }

    .hero {
        padding: 60px 20px;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero-image {
        width: 100%;
        transform: scale(.75);
    }

    .stats {
        display: grid;

        grid-template-columns: 1fr 1fr;

        gap: 20px;
    }

    .stats div {
        border: 0;
    }

    .steps {
        grid-template-columns: 1fr;
    }

    .resource-grid {
        grid-template-columns: 1fr;
    }

    .cta {
        margin: 20px;

        flex-direction: column;

        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;

        gap: 10px;
    }
}